.job-experience__container {
    border: 1px solid #17A095;
    border-radius: 5px;
    background-color: #dff1f0;
    line-height: 1.5;
}

.job-experience__occupation {
    font-weight: bold;
    color: #000//#17A095;
    margin-bottom: 0px;
}

.job-experience__company {
    font-weight: bold;
    font-size: 14px;
}

.job-experience__city {
    font-size: 14px;
}

.job-experience__date {
    font-size: 12px;
}

.job-experience__description {
    font-size: 16px;
}
